/Lab02/TaxSalary/nbproject/private/
/Lab02/nbproject/private/
/Lab02/build/
/Lab03/nbproject/private/
/Lab03/build/
/Lab04/nbproject/private/
/Lab04/build/
/Book/nbproject/private/
/Lab05/nbproject/private/
/Lab05/build/
/Lab06/nbproject/private/
/Lab06/build/
/Lab07/nbproject/private/
/Lab07/build/
/Exam/nbproject/private/
/Exam/build/
/Test/nbproject/private/
/Test/build/
/Lab08/nbproject/private/
/Lab08/build/
/Lab08/dist/
/Lab09/nbproject/private/
/Lab09/build/
/Lab10/nbproject/private/
/Lab10/build/
/Lab11/nbproject/private/
/Lab11/build/
/Lab12/nbproject/private/
/Lab12/build/
/Lab13/nbproject/private/
/N-Q/nbproject/private/
/N-Q/build/
/Lab13/build/
/Mock Final/nbproject/private/
/Mock Final/build/
